.ie, img.ie{
    display: block;
}
.moto_link, .moto_link img {
    border:0;
}
.right.side, .left.side, .flip{
    background-image: none;
}
img.ie{
    width: 31%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.side img.ie{
    top: 50%;
    margin-top: -100px;
}
.right.side img{
    left: 0;
}
.left.side img{
    right: 0;
}
.flip img{
    width: 100%;
    left: 0;
    right: 0;
}
.arrow{
    background-image: none;
    border-bottom: 1px solid #000;
}
.arrow img.ie{
    top: 20px;
    left: 50%;
    margin-left: -31.5px;
    margin-top: 0;
    width: 63px;
    height: auto;
}
.moto_link{
    left: 50%;
    margin-left: -12%;
}
.moto_visit{
    bottom: 10px;
    left: 45%;
}
.moto_visit a{
    text-decoration: underline;
}

