body{
    margin: 0;
    background: #69f5c8;
    font-family: Helvetica;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.side{
    background: #FFF;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 45%;
    z-index: 100;
}
.side.left{
    left: 0;
}
.side.right{
    right: 0;
}

.side.middle{
    background: transparent;
    width: 10%;
    left: 45%;
    right: 45%;
    z-index: 100;
}
.text{
    display: table;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.flip .text{
    width: 100%;
    left: -50%;
}
.text h1{
    min-width: 400px;
}

.flip{
    background: #FFF;
    position: absolute;
    top: 5%;
    -webkit-transition: top 1s;
    width: 100%;
    height: 100%;
}
.arrow{
    background: #FFF url('./arrow.png') no-repeat center center;
    background-size: 63px 71px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 119px;
    position: absolute;
    box-shadow: rgba(0,0,0,0.65) 0px 9px 20px 0px;
    -webkit-animation: swing 1.5s ease-in-out 0s infinite alternate;
    -webkit-transition: border-width 1s;
    cursor: pointer;
    border: 0px solid #FFF;
}
@-webkit-keyframes swing { from { height: 119px; } to { height: 129px; }  }

/*
    -webkit-transform: rotate(-17deg);
    -webkit-animation: swing 2s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes swing { from { -webkit-transform: rotate(-17deg); } to { -webkit-transform: rotate(-10deg); }  }

*/
